CMakeScripts/
DerivedData/
Debug/
Release/
xcodebuild/
*.build/
build/

CMakeFiles/
*.xcworkspacedata
xcuserdata/*.xcuserdatad/xcdebugger/*.xcbkptlist
*UserInterface*

.waf*
.lock*
.svn
*.aux
*.bbl
*.blg
*.dvi
*.log
*.ps
*.dia
*.o
*.a
*.ptx
*.rec
CMakeCache.txt
*.xcscheme
*.dat
*.xcbkptlist
*.DS_Store
*.xcscheme
